<div class="row top-buffer"></div>
<div class="container mt-5">
  <div style="text-align: center">
    <h1>SHARE MP3 OR MP4</h1>
    <p class="lead">Upload your mp3 or mp4 files and share with all your NICE friends :D</p>
    <form class="md-form">
      <div class="file-field">
        <div class="btn btn-primary btn-sm float-center">
          <span>Choose file</span>
          <input type="file">
        </div>
      </div>
    </form>

    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="upload()">Upload</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>
</div>